<h1><div align="center"><%= t('photoblog') %></div></h1>
<br/>
<br/>
<h2><%= t('albums') %></h2>
<hr>
<br/>
<% @albums.each do |album| %>
    <p>
      <h3><%= album.title %></h3>
        <p>
          <%= album.description %>
        </p>
        <%= link_to t('more'), album %>
    </p>
    <br/>
<% end %>

<br/><br/>
<br/><br/>
<h4>available buttons</h4>
<%= link_to "Standard", welcome_index_path, class: 'btn btn-small' %>
<%= link_to "Primary", welcome_index_path, class: 'btn btn-small btn-primary' %>
<%= link_to "Info", welcome_index_path, class: 'btn btn-small btn-info' %>
<%= link_to "Success", welcome_index_path, class: 'btn btn-small btn-success' %>
<%= link_to "Warning", welcome_index_path, class: 'btn btn-small btn-warning' %>
<%= link_to "Danger", welcome_index_path, class: 'btn btn-small btn-danger' %>
<%= link_to "Inverse", welcome_index_path, class: 'btn btn-small btn-inverse' %>
<%= link_to "Link", welcome_index_path, class: 'btn btn-small btn-link' %>
