<h2><%= t('albums') %></h2>
<br/>
<%= link_to t('new_album'), new_album_path, class: 'btn btn-success' %>
<table class="table table-horizontal table-hover">
  <% @albums.each do |album| %>
      <tr>
        <div class="media">
          <th style="width:10%;">

            <%= link_to image_tag(album.photos.first.image, {height: 64, width: 64, :class => 'media-object'}), album_path(album), {:class => 'pull-left'} %>

          </th>
          <td style="width:75%;">
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= album.title %>
                  </h4> <%= album.description.truncate(50) %>
                </div>
          </td>
        </div>
        <td style="text-align: right; vertical-align: middle;">
          <%= link_to t('edit'), edit_album_path(album), class: 'btn  btn-info' %>
          <%= link_to t('delete'), album_path(album), class: 'btn  btn-danger', method: :delete, confirm: t('confirm') %>
        </td>
      </tr>
  <% end %>
</table>
<br/>
<%= link_to t('to_home'), albums_index_path, class: 'btn btn-small btn-success' %>

