<p>
  <% breadcrumb :albums %>
</p>

<h2><%= t('albums') %></h2>
<br/>
<%= link_to t('new_album'), new_album_path, class: 'btn btn-success' %>
<table class="table table-horizontal table-hover">
  <% @albums.each do |album| %>
      <tr>
        <div class="media">
          <th style="width:10%;">

           <% if album.photos == nil %>
                <% imgPath = album.photos.first.image %>
           <% else%>
                <% imgPath = "/uploads/photos/std_image.png" %>
           <% end %>

            <%= link_to image_tag(imgPath,{height:64,width:64,:class=>'media-object'}),album_path(album),{:class=>'pull-left'} %>
          </th>
          <td style="width:60%;">
            <div class="media-body">
              <h4 class="media-heading"><%= album.title %></h4>
              <%= album.description.truncate(50) %>
            </div>
          </td>
        </div>
        <td style="text-align: right; vertical-align: middle;">
          <%= link_to t('edit'), edit_album_path(album), class: 'btn  btn-info' %>
          <%= link_to t('delete'), album_path(album), class: 'btn  btn-danger', method: :delete, confirm: t('confirm') %>
        </td>
      </tr>
  <% end %>
</table>
<p>
  <br/>
  <%= link_to t('to_home'), welcome_index_path, class: 'btn btn-success' %>
</p>
