<p>
  <% breadcrumb :album, @album %>
</p>

<h2><%= @album.title %></h2>
<p>
  <%= @album.description %>
</p>
<p>
  <% if @album.private %>
    <p style="color:#2efd00"><%= t('private') %></p>
  <% else %>
    <p style="color:#fd7a00"><%= t('public') %></p>
  <% end %>
</p>
<p>
  <br/>
  <%= link_to t('btn_back'), albums_path, class: 'btn btn-info' %>
  <%= link_to t('to_home'), welcome_index_path, class: 'btn btn-info' %>
  <% if current_user != nil %>
    <% if @album.user_id == current_user.id  %>
      <%= link_to t('edit'), edit_album_path(@album), class: 'btn  btn-info' %>
      <%= link_to t('btn_add_photo'), new_album_photo_path(@album), class: 'btn' %>
    <% end %>
  <% end %>
  <br/>
</p>

<hr>
<ul class="thumbnails">
  <%= render @photos %>
</ul>