<h1>
  <%= @album.title %>
</h1>
<p>
  <%= @album.description %>
</p>
<br/>

<ul class="list-group">
  <%= render @album.photos %>
</ul>

<br/><br/>

<%= link_to "Back to albums", albums_path, class: 'btn btn-info' %>
<%= link_to "To home screen", welcome_index_path, class: 'btn btn-success' %>

<br/><br/>
<br/><br/>

<h4>New photo</h4>
<%= render 'photos/form' %>

<br/><br/>

<!-- verschiedene Versionen -->
<br/>
<%= link_to "Add new photo (Version 1) (funktioniert nicht)", new_album_photo_path(album_id: @album.id), class: 'btn' %>
<br/>
<%= link_to "Add new photo (Version 2) (funktioniert nicht)", new_album_photo_path(:album_id=>@album.id), class: 'btn' %>
<br/>
<%= link_to "Add new photo (Version 3) (funktioniert nicht)", url_for(action: :new), class: 'btn' %>
<br/>
