<h1>
  <%= @album.title %>
</h1>
<p>
  <%= @album.description %>
</p>
<br/>

<ul class="list-group">
  <%= render @album.photos %>
</ul>

<br/><br/>

<%= link_to "<= Back", albums_path, class: 'btn btn-info' %>
<%= link_to "To home screen", welcome_index_path, class: 'btn btn-info' %>

<br/><br/>
<br/><br/>

<br/>
<%= link_to "Add new photo (Version 1)", [@album, @album.photos.new], method: :new, class: 'btn' %>
<br/>
<%= link_to "Add new photo (Version 2)", new_album_photo_path(@album, @photo), class: 'btn' %>
<br/>
