<% if @photo == nil %>

  <!-- create new photo -->
  <%= bootstrap_form_for [@album, @album.photos.build],:url=>album_photos_path,html: {multipart: true} do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :description %>
      <% if @photo.image.exists? %>
          <%= image_tag @photo.image.url,:size=>'320x240' %>
      <% else %>
          <%= f.file_field :image %>
      <% end %>
      <p>
      <fieldset style="color:#2efd00;display:inline"><%= f.label :private,t('private'),:value=>true %><%= f.radio_button :private,true %></fieldset>
      <fieldset style="color:#fd7a00;display:inline"><%= f.label :private,t('public'),:value=>false %><%= f.radio_button :private,false %></fieldset>
      </p>
      <%= f.submit %>
  <% end %>

<% else %>

  <!-- edit photo -->
  <%= bootstrap_form_for [@album, @photo],html: {multipart: true} do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <% if @photo.image.exists? %>
      <%= image_tag @photo.image.url,:size=>'320x240' %>
    <% else %>
      <%= f.file_field :image %>
    <% end %>
    <p>
      <fieldset style="color:#2efd00;display:inline"><%= f.label :private,t('private'),:value=>true %><%= f.radio_button :private,true %></fieldset>
      <fieldset style="color:#fd7a00;display:inline"><%= f.label :private,t('public'),:value=>false %><%= f.radio_button :private,false %></fieldset>
    </p>
    <%= f.submit %>
  <% end %>

<% end %>
