<li class="list-group-item active">	  
  <h4 class="list-group-item-heading"><%= photo.title %></h4>
  <p class="list-group-item-text">
    <%= photo.description %>
    <br/>
    <%= photo.url %>
    <br/>
    <%= photo.filename %>
    <br/>
    <%= link_to image_tag(photo.filename,:size=>'320x240',:border=> 0),album_photo_path(photo.album, photo) %>
    <!-- <%= link_to image_tag(photo.url,:size=>'320x240',:border=> 0,:class=>'list_image'),album_photo_path(photo.album, photo) %> -->
  </p>

  <p>
    <%= link_to 'Mehr', album_photo_path(photo.album, photo)%>
    <br/><br/>
    <%= link_to 'Delete photo', [photo.album, photo], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

  <br/>
</li>