<div class="span4" style="margin-bottom:15px;">
  <div class="thumbnail">

    <%= link_to image_tag(photo.image,:alt=>'320x240'),album_photo_path(photo.album, photo) %>
    <div class="caption">
      <h3>
        <%= photo.title %>
      </h3>
      <p>
        <%= photo.description %>
      </p>
      <p>
        <% if photo.private %>
          <p style="color:#2efd00"><%= t('private') %></p>
      <% else %>
          <p style="color:#fd7a00"><%= t('public') %></p>
      <% end %>
      </p>
      <p>
        <%= link_to t('more'), album_photo_path(photo.album, photo)%>
        <%= link_to t('delete_photo'),[photo.album,photo],method: :delete,data:{confirm: t('confirm')} %>
      </p>
    </div>
  </div>
</div>
