<p>
  <% breadcrumb :photo, @photo %>
</p>

<%= link_to t('btn_back'), album_path(@photo.album), class: 'btn btn-info' %>
<%= link_to t('to_home'), welcome_index_path, class: 'btn btn-info' %>

<% if current_user != nil %>
  <% if @photo.user_id == current_user.id  %>
    <%= link_to t('edit'), edit_album_photo_path(@album, @photo), class: 'btn btn-warning', id: 'editLink' %>
  <% end %>
<% end %>
<br/>
<br/>

<div class="carousel slide" id="carousel-435758">
  <ol class="carousel-indicators">
    <% @photos.each_with_index do |photo, index| %>
        <% active = (@photo.id == photo.id)? 'active' : '' %>
        <li class="<%= active %>" img_url="<%= edit_album_photo_path(photo.album, photo) %>" >
        </li>
    <% end %>

  </ol>
  <div class="carousel-inner">
    <% @photos.each do |photo| %>
        <% active = (@photo.id == photo.id)? 'active' : '' %>

        <div class="item <%= active %>">
          <%= image_tag(photo.image, {height:778, width:1170}) %>
          <div class="carousel-caption">
            <h4>
              <%= photo.title %>
            </h4>
            <p>
              <%= photo.description %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
  <a id="left" data-slide="prev" href="#carousel-435758" class="left carousel-control">‹</a>
  <a id="right" data-slide="next" href="#carousel-435758" class="right carousel-control">›</a>
</div>

<% if @photo.private %>
    <p style="color:#2efd00"><%= t('private') %></p>
<% else %>
    <p style="color:#fd7a00"><%= t('public') %></p>
<% end %>
<span style="float:right">
  <%= @user.username %>
</span>

<p>
  <h3><%= t('comments') %></h3>
  <ul class="list-group">
    <%= render @photo.comments %>
  </ul>
</p>

<p>
  <h4><%= t('new_comment') %></h4>
  <%= render 'comments/form' %>
</p>

<script>
    $(function() {
        $('.carousel').carousel('pause');
        $('#right').click(function() {
            if($('li.active').prev() == null){
                var link = $('li.active').first().attr('img_url');
            }else{
                var link = $('li.active').next().attr('img_url');
            }
            $('#editLink').attr('href', link);
        });

        $('#left').click(function() {

            if($('li.active').prev() == null){
                var link = $('li.active').last().attr('img_url');
            }else{
                var link = $('li.active').prev().attr('img_url');
            }

            $('#editLink').attr('href', link);
        });
    });

</script>
