<p><%= t('hello') %><%= @resource.email %>!</p>

<p><%= t('reset_pw_info_link') %></p>

<p><%= link_to t('change_my_pw'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('reset_pw_info_mail') %></p>
<p><%= t('reset_pw_info_pw') %></p>
